/* styles.css */
html{
    box-sizing:border-box;
    -moz-box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
}

.section--counter{
    margin: 20px auto;
    padding: 0 20px;
    max-width: 600px;
    width: 100%;
    text-align: center;
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    font-size: 20px;
}

.section_content{
    width: 100%;
}

form {
    margin: 20px auto;
    width: 100%;
    font-size: 20px;
}

input{
    display: block;
    width: 100%;
    padding: 20px 20px;
    border: none;
    cursor: pointer;
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    margin: 10px 0;
    font-size: 20px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
}

.visitor-count{
    margin: 10px 0;
}

.visitors-last-hour{
    color: #888888;
}
