<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/styles.css">
        <title>Web-App</title>
    </head>
    <body>
        <div class="section--counter">
            <div class="section_content">
                <h1>HWHS Besuchercount</h1>
                <form method="post">
                    <label for="number">Gib die Anzahl der Besucher ein:</label>
                    <input type="number" name="number" id="number" required>
                    <input type="submit" value="Absenden">
                </form>
                <div class="visitor-count">
                    Anzahl der letzten Besucher: {{ visitor_count }}
                </div>
                <div class="visitors-last-hour">
                    Anzahl der Besucher in der letzten Stunde: {{ visitors_last_hour }}
                </div>
            </div>
        </div>
    </body>
</html>
