<!DOCTYPE html>
<b>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Web-App</title>
</head>
<br>
    <h1>Web-App zur Dateneingabe</h1>
    <form method="post">
        <label for="number">Gib eine Zahl ein:</label>
        <input type="text" name="number" id="number" required>
        <input type="submit" value="Absenden">
    </form>
    </br>
    <div class="visitor-count">
        Anzahl der letzten Besucher: {{ visitor_count }}
    </div>
    </br>
    <div class="visitors-last-hour" style="font-size: large; color: rgb(26, 53, 24);">
        Anzahl der Besucher in der letzten Stunde: {{ visitors_last_hour }}
    </div>
    
</body>
</html>
